<div class="container">
    <div class="form-container">
    <h1>Form</h1>
    <form #userForm="ngForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" [(ngModel)]="name" name="name">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" [(ngModel)]="email" name="email">
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" [(ngModel)]="phone" name="phone">
    </div>

    <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control-file" id="photo" name="photo" (change)="onPhotoChange($event)">
        <img *ngIf="photoPreview" [src]="photoPreview" alt="Selected Photo" class="img-fluid">
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" rows="3" placeholder="Enter your content" [(ngModel)]="content" name="content"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="result-container">
    <h1>Form Result</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Phone:</strong> {{ phone }}</p>
      <img *ngIf="photo" [src]="photo" alt="Uploaded Photo" class="img-fluid">
    <p><strong>Content:</strong> {{ content }}</p>
    </div>

</div>